* {
  box-sizing: border-box;
}
:root {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}
button {
  cursor: pointer;
}
.flex-direction-button {
  padding: 1.25rem 1.25rem;
  border: 2px solid #4dc3fb;
  margin-right: 0.42rem;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 800;
  text-transform: uppercase;
}
.flex-direction-button-active {
  color: #fff;
  background-color: #4dc3fb;
}
.flex-direction-area {
  display: flex;
  gap: 0.17rem;
  width: 500px;
  padding: 0.08rem;
  border: 1px dotted #000;
  outline-offset: 0.42rem;
  outline: 2px solid #4dc3fb;
  margin-top: 1.67rem;
  margin-left: 0.58rem;
}
.flex-direction-area-item {
  height: 150px;
  padding: 5rem 0.83rem;
  color: #1d6a8b;
  background-color: #98dffb;
  font-size: 2.3rem;
  font-weight: 400;
  text-align: center;
}
